html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
/*  overflow-x: hidden;
    overflow-y: scroll;
*/
}

h1,
h2,
h3 {
    text-align: center;
}

h1 {
    font-size: 3.157rem;
    padding: 6rem 0 0.5rem 0;
}

header h2 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.8rem;
}

p {
    font-size: 1rem;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    padding-right: 20px;
}

nav a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.skip a {
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

.skip a:focus {
    top: 0;
}

footer {
    grid-column: 1 / -1;
    grid-row: 9 / 9;
    padding-top: 30px;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-row-gap: 20px;
    grid-template-rows: 30px auto auto auto auto auto auto 100px;
    width: 100vw;
}

.nav {
    text-align: center;
    align-self: center;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding: 20px 0;
    text-align: left;
}

header {
    background-attachment: fixed;
    /* Parallax effect */
    background-image: url("../images/header.jpg");
    background-position: center;
    /* Parallax effect */
    background-repeat: no-repeat;
    /* Parallax effect */
    background-size: cover;
    /* Parallax effect */
    height: 400px;
    /* Parallax effect */
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.about-image {
    background-image: url("../images/about.jpg");
    max-width: 700px;
    overflow: hidden;
    grid-column: 1 / -1;
    grid-row: 3 / 4;
}

.about {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.work-image {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

.work-image img {
    align-items: center;
    justify-content: center;
    max-height: 4.5rem;
    margin: .04rem;
}

.work {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.course-work-image{
    grid-column: 2 / 3;
    grid-row: 7 / 8;
}

.course-work-image img {
    align-items: center;
    justify-content: center;
    max-height: 4.5rem;
    margin: .04rem;

}

.course-work {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
}

.contact-image {
    background-image: url("../images/contact.jpg");
    max-height: 700px;
    overflow: hidden;
    grid-column: 1 / -1;
    grid-row: 8 / 9;
}

.contact {
    grid-column: 2 / 3;
    grid-row: 8 / 9;
}

.text-block {
    align-self: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

button {
    font-size: 0.9rem;
    letter-spacing: .1rem;
    line-height: 1.6rem;
    border-radius: 1rem;
/*  top right bottom left*/
/*  the size of button*/
    padding: .07rem 1.4rem;
    border: .8px solid black;
    margin: 0px 5px 20px;
    display: block;
    margin: .5rem auto;
}

button:hover {
    color: white;
    background-color: black;
    opacity: .7;
}

@media only screen and (min-width: 800px) {

    .container {
        display: grid;
        grid-template-columns: 25fr 50fr 25fr;
        grid-template-rows: 100px auto auto auto auto auto auto auto 100px;
        grid-row-gap: 30px;
        width: 100vw;
    }
    
    .flex-container {
        display: flex;
        flex-direction: row;
    }

    .nav {
        text-align: right;
        display: inline;
        padding-top: 35px;
        padding-bottom: 35px;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }

    .about-image {
        background-image: url("../images/about.jpg");
        max-height: 700px;
        overflow: hidden;
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    .about {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    
    .work-image img {
        display: inline-block;
        align-items: center;
        justify-content: center;
        max-height: 14.5rem;
        margin: .1rem;
    }
    
    .work-image {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
    }

    .work {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }

    img:hover {
        opacity: .5;
        transition: .9s;
    }

    .course-work-image img {
        display: inline-block;
        align-items: center;
        justify-content: center;
        max-height: 14.5rem;
        margin: .1rem;
    }
    
    course-work-image {
        grid-column: 2 / 3;
        grid-row: 7 / 8;
    }

    .course-work {
        grid-column: 2 / 3;
        grid-row: 6 / 7;
    }

    .contact-image {
        background-image: url("../images/contact.jpg");
        max-height: 700px;
        overflow: hidden;
        grid-column: 2 / 3;
        grid-row: 8 / 9;
    }

    .contact {
        grid-column: 2 / 3;
        grid-row: 8 / 9;
    }
}

/*End the media query*/

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }

    .skip a {
        background: white;
        left: 0;
        padding: 6px;
        position: absolute;
        top: -40px;
        -webkit-transition: top 1s ease-out;
        transition: top 1s ease-out;
        z-index: 1;
    }

    .skip a:focus {
        top: 0px;
    }
}
